:root {
  --purple-700: hsl(257, 40%, 49%);
  --pink-400: hsl(322, 100%, 66%);
  --magenta-400: hsl(300, 68%, 71%);
  --poppins: "Poppins", Helvetica, sans-serif;
  --open-sans: "Open Sans", Arial, sans-serif;
  --spacing-8: 0.5rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2.5rem;
  --spacing-35-5: 2.21875rem;
  --spacing-36: 2.25rem;
  --spacing-40: 2.5rem;
  --spacing-56: 3.5rem;
  --spacing-62-35: 3.896875rem;
  --spacing-64: 4rem;
  --line-height-125: 125%;
  --line-height-150: 150%;
  --font-weight-semibold: 600;
  --font-weight-regular: 400;
  --font-size-40: 2.5rem;
  --font-size-24: 1.5rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-12: 0.75rem;
  --landing-logo-width: 7.5rem;
  --landing-hero-width: 19rem;
  --register-button-width: 12.5rem;
  --register-button-height: 2.5rem;
  --register-button-border-radius: 1.25rem;
  --mobile-social-border-size: 1.75rem;
  --mobile-social-icon-size: 0.8rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
}

body {
  background-color: var(--purple-700);
  position: relative;
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

.landing {
  margin-block: var(--spacing-40);
  margin-inline: var(--spacing-35-5);
  & .landing__logo {
    margin-bottom: var(--spacing-64);
    max-width: var(--landing-logo-width);
  }
}

.landing__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .landing__hero {
    margin-bottom: var(--spacing-56);
    max-width: var(--landing-hero-width);
  }

  & .landing__card--heading {
    font-family: var(--poppins);
    line-height: var(--line-height-125);
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-semibold);
    text-align: center;
    margin-bottom: var(--spacing-24);
  }

  & .landing__card--text {
    font-family: var(--open-sans);
    line-height: var(--line-height-150);
    font-size: var(--font-size-16);
    text-align: center;
    margin-bottom: var(--spacing-32);
  }
}

.landing__card--register {
  width: var(--register-button-width);
  height: var(--register-button-height);
  border-radius: var(--register-button-border-radius);
  border: 0 solid transparent;
  font-family: var(--open-sans);
  font-size: var(--font-size-12);
  margin-bottom: var(--spacing-62-35);
  color: var(--purple-700);
  font-weight: var(--font-weight-regular);
}

.landing__card--register:hover {
  color: white;
  background-color: var(--magenta-400);
}

.landing__links {
  display: flex;
  gap: var(--spacing-16);

  & .fa {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    width: var(--mobile-social-border-size);
    height: var(--mobile-social-border-size);
    font-size: var(--mobile-social-icon-size);
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  & .fa:hover {
    color: var(--pink-400);
    border: 1px solid var(--pink-400);
  }
}

.credits {
  font-family: var(--open-sans);
  font-size: var(--font-size-12);
  text-align: center;
  & a {
    text-decoration: none;
    color: white;
  }

  & a:hover {
    text-decoration: underline;
  }
}

@media screen and (width >= 45rem) {
}

@media screen and (width >= 75rem) {
}
