:root {
  --purple-700: hsl(257, 40%, 49%);
  --pink-400: hsl(322, 100%, 66%);
  --magenta-400: hsl(300, 68%, 71%);
  --poppins: "Poppins", Helvetica, sans-serif;
  --open-sans: "Open Sans", Arial, sans-serif;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2.5rem;
  --spacing-35-5: 2.21875rem;
  --spacing-40: 2.5rem;
  --spacing-44: 2.75rem;
  --spacing-56: 3.5rem;
  --spacing-62-35: 3.896875rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;
  --spacing-104: 6.5rem;
  --line-height-125: 125%;
  --line-height-150: 150%;
  --font-weight-semibold: 600;
  --font-weight-regular: 400;
  --font-size-40: 2.5rem;
  --font-size-24: 1.5rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-12: 0.75rem;
  --content-max-width: 79.5rem;
  --landing-logo-width: 7.5rem;
  --landing-logo-desktop-width: 12.5rem;
  --landing-hero-width: 19rem;
  --landing-hero-tab-desk-width: clamp(38rem, 32.5rem + 12.222vw, 43.5rem);
  --register-button-width: 12.5rem;
  --register-button-height: 2.5rem;
  --register-button-tab-desk-height: 3.5rem;
  --register-button-border-radius: 1.25rem;
  --register-button-tab-desk-border-radius: 1.75rem;
  --register-button-shadow: 1px 3px 5px hsla(0, 0%, 0%, 0.27);
  --mobile-social-border-size: clamp(1.75rem, 0.935rem + 3.478vw, 2.5rem);
  --mobile-social-icon-size: clamp(0.8rem, 0.43rem + 1.577vw, 1.14rem);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--purple-700);
  position: relative;
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
}

.landing {
  margin-block: var(--spacing-40);
  margin-inline: var(--spacing-35-5);
  & .landing__logo {
    margin-bottom: var(--spacing-64);
    max-width: var(--landing-logo-width);
  }
}

.landing__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .landing__hero {
    margin-bottom: var(--spacing-56);
    max-width: var(--landing-hero-width);
  }
}

.landing__card--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  & .landing__card--heading {
    font-family: var(--poppins);
    line-height: var(--line-height-125);
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-semibold);
    margin-bottom: var(--spacing-24);
  }

  & .landing__card--description {
    font-family: var(--open-sans);
    line-height: var(--line-height-150);
    font-size: var(--font-size-16);
    margin-bottom: var(--spacing-32);
  }
}

.landing__card--register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--register-button-width);
  height: var(--register-button-height);
  border-radius: var(--register-button-border-radius);
  border: 0 solid transparent;
  margin-bottom: var(--spacing-62-35);
  background-color: white;
  color: var(--purple-700);
  box-shadow: var(--register-button-shadow);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  font-family: var(--open-sans);
  font-size: var(--font-size-12);

  &:hover {
    color: white;
    background-color: var(--magenta-400);
  }
}

.landing__links {
  display: flex;
  justify-content: center;
  gap: var(--spacing-16);

  & .fa {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    width: var(--mobile-social-border-size);
    height: var(--mobile-social-border-size);
    font-size: var(--mobile-social-icon-size);
    text-align: center;
    border-radius: 50%;
    &:hover {
      color: var(--pink-400);
      border: 1px solid var(--pink-400);
    }
  }
}

.credits {
  font-family: var(--open-sans);
  font-size: var(--font-size-12);
  text-align: center;
  & a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (width >= 45rem) {
  .landing {
    margin-block: var(--spacing-40);
    margin-inline: var(--spacing-80);
  }

  .landing__card {
    & .landing__hero {
      max-width: var(--landing-hero-tab-desk-width);
    }
  }

  .landing__card--text {
    margin-inline: var(--spacing-44);
    .landing__card--heading {
      font-size: var(--font-size-40);
    }
    .landing__card--description {
      font-size: var(--font-size-18);
    }
  }

  .landing__card--register {
    margin-bottom: var(--spacing-40);
    height: var(--register-button-tab-desk-height);
    border-radius: var(--register-button-tab-desk-border-radius);
    font-size: var(--font-size-18);
  }
}

@media screen and (width >= 75rem) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image: url("./images/bg-desktop.svg");
    background-size: cover;
  }

  .landing {
    width: var(--content-max-width);
    .landing__logo {
      max-width: var(--landing-logo-desktop-width);
      margin-bottom: var(--spacing-104);
    }
  }

  .landing__card {
    flex-direction: row;
    margin: auto;
    & .landing__card--text {
      margin-left: var(--spacing-56);
      align-items: flex-start;
      text-align: left;
    }
  }

  .landing__links {
    flex-direction: row;
    justify-content: flex-end;
  }

  .credits {
    font-size: var(--font-size-16);
  }
}
